.contacts-block{

  padding-top: 1rem;
  background-color: $brand-foreground;

}
.contacts-block__caption{

  text-align: center;
  color: darken($brand-foreground, 30);
  font-size: 1rem;
}
.contacts-block__content{

  text-align: center;
  font-weight: 900;
  font-size: 1.0rem;

  img{
    width: 20px;
    margin-right: 10px;
  }

}

@media (min-width: 1200px) {
  .contacts-block__caption{
    font-size: 1.5rem;
  }
  .contacts-block__content{
    font-size: 1.5rem;
  }
}
@media (min-width: 992px) {
  .contacts-block__caption{
    font-size: 1.5rem;
  }
  .contacts-block__content{
    font-size: 1.5rem;
  }
}
@media (min-width: 768px) {
  .contacts-block__caption{
    font-size: 1.5rem;
  }
  .contacts-block__content{
    font-size: 1.5rem;
  }
}
.contacts-block__address{

  font-weight: 900;
  font-size: 1.5rem;
  text-align: center;
  margin-top: 1.5rem;

  img{
    width: 30px;
    margin-right: 20px;
  }

}