.map-block{

  background-color: $brand-foreground;
  padding: 2rem 0rem;

}
.map-controls{



}

.map-controls__list{

  font-size: 1.5rem;

  li{

    color: $brand-primary;
    display: inline-block;
    border-bottom: 1px dashed $brand-primary;
    cursor: pointer;
    margin-right: 1.5rem;

    &:hover{

      color: #fff;
      border-bottom: 1px dashed #fff;

    }

    &.map-controls__list_active{

      color: #fff;
      border-bottom: 1px dashed #fff;

    }
  }
}

.map-controls__list_sublist{

  font-size: 1.25rem;
  margin-left: 2rem;

}

.map {
  width: 100%;
  text-align: center;

  img {
    width: 1200px;
    margin: auto;
  }
}

.map-path-visible{
  display: block;
}
.map-path-hidden{
  display: none;
}
.taxi-link {
  display: none;
  a,
  a:hover,
  a:visited {
    color: #fff;
  }
}