.map-block{

  background-color: $brand-foreground;
  padding: 2rem 0rem;

}
.map-controls{

}

.map-controls__list{

  font-size: 1rem;

  li{

    color: $brand-primary;
    display: inline-block;
    cursor: pointer;
    margin-right: 1.5rem;

    &:hover{

      color: #fff;
      span {
        border-bottom: 1px dashed #fff;
      }

    }

    &.map-controls__list_active{

      color: #fff;
      span {
        border-bottom: 1px dashed #fff;
      }

    }

    span {
      border-bottom: 1px dashed $brand-primary;
    }
  }
}

.map-controls__list_sublist{

  font-size: 1rem;
  margin-left: 2rem;

}

.map {
  width: 100%;
  text-align: center;

  img {
    width: 100%;
    margin: auto;
  }
}

.map-path-visible{
  display: block;
}
.map-path-hidden{
  display: none;
}
.taxi-link {
  display: none;
  font-size: 0.7rem;
  a,
  a:hover,
  a:visited {
    color: #fff;
  }
}
.map-block-header {
  color: #fff;
  font-size: 1.5rem;
}
@media (min-width: 1200px) {
  .map-block-header {
    font-size: 2.5rem;
  }
  .map-controls__list {
    font-size: 1.5rem;
  }
  .map-controls__list_sublist{
    font-size: 1.25rem;
  }
  .taxi-link {
    font-size: 1rem;
  }
}
@media (min-width: 992px) {
  .map-block-header {
    font-size: 2.5rem;
  }
  .map-controls__list {
    font-size: 1.5rem;
  }
  .map-controls__list_sublist{
    font-size: 1.25rem;
  }
  .taxi-link {
    font-size: 1rem;
  }
}
@media (min-width: 768px) {
  .map-block-header {
    font-size: 2.5rem;
  }
  .map-controls__list {
    font-size: 1.5rem;
  }
  .map-controls__list_sublist{
    font-size: 1.25rem;
  }
  .taxi-link {
    font-size: 1rem;
  }
}