.modal-booking{

  .carousel-inner{

    margin-bottom: 1rem;

  }

}
.modal{
  z-index: 1003;
}
.modal-backdrop{
  z-index: 1002;
}
#notificationModal .alert {
  margin-bottom: 0;
}
#notificationModal {
  top: 20%;
}
#reservationModal {
  top: 30%;
}
#reservationModal .modal-content {
  background-color: $brand-backbgound;
}