.wrapper{
  background-repeat: no-repeat;
  background-position: 100% 0;
  min-height: 250px;
  background-size: cover;
  background-image: url('/public/images/header_bg_xs.jpg');
}

@media (min-width: 1200px) {
  .wrapper {
    background-image: url('/public/images/header_bg_lg.jpg');
    min-height: 450px;
  }
}
@media (min-width: 992px) {
  .wrapper {
    background-image: url('/public/images/header_bg_md.jpg');
    min-height: 450px;
  }
}
@media (min-width: 768px) {
  .wrapper {
    background-image: url('/public/images/header_bg_sm.jpg');
    min-height: 450px;
  }
}
.navbar{

  z-index: 1000;
  padding: 0 1rem;
  justify-content: center;

}

.navbar-toggleable-md{

  .navbar-collapse{

    width: auto;

  }


}

.navbar-brand{

  padding-top: .5rem;

  img{

    width: 220px;

  }

}
.navbar-nav{

  align-items: center;

}
.nav-link{
  font-size: 0.9rem;
  font-weight: 500;

}
.nav-link__address{

  font-size: 1rem;

}
.nav-link__phone{

  font-size: 1.5rem;
  font-weight: 900;

}
.nav-link__booking{
  padding: 0.1em 1em;
  margin-right: 1rem;
  border-bottom: 5px solid $brand-primary;

}

.nav-item__contacts{

  display: flex;
  align-items: center;

  img{

    height: 44px;
    margin-left: 10px;

  }
}
.navbar_footer{

  .navbar-nav{

    .nav-link{

      font-weight: 400;
      color: darken($brand-foreground, 30);

    }

    .nav-link__booking{

      border-bottom: none;
      padding: 0.5em 1em;
      margin: 0;

    }

  }

}