$rooms-kind-bg: (

        'a': url('/public/images/a.png'),
        'b': url('/public/images/b.png'),
        'c': url('/public/images/c.png'),
        'd': url('/public/images/d.png')

);

@function room-kind-bg($key) {

  @return map-get($rooms-kind-bg, $key);

}
.rooms{

  display: flex;
  justify-content: center;

}

.rooms__wrapper{

  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  max-width: 930px;

}

.rooms__kind{

  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  margin-bottom: 5rem;
  width: 430px;
  height: 286px;
  border-top: 15px solid $brand-accent;

  &:hover{

    cursor: pointer;

  }

}
.rooms__kind-caption{

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: rgba($brand-secondary, 0.8);
  padding: 1rem 2rem;

}
.rooms__kind-caption-price{

  color: darken($brand-primary, 20);
  font-size: 2rem;
  font-weight: 900;

}
.rooms__kind-caption-action{

  font-weight: 900;

  &:hover{

    cursor: pointer;

  }

}
.rooms__kind_a{

  background: room-kind-bg('a');
  background-size: cover;

}
.rooms__kind_b{

  background: room-kind-bg('b');
  background-size: cover;

}
.rooms__kind_c{

  background: room-kind-bg('c');
  background-size: cover;

}
.rooms__kind_d{

  background: room-kind-bg('d');
  background-size: cover;

}