$rooms-kind-bg: (

        'a': url('/public/images/a.png'),
        'b': url('/public/images/b.png'),
        'c': url('/public/images/c.png'),
        'd': url('/public/images/d.png')

);

@function room-kind-bg($key) {

  @return map-get($rooms-kind-bg, $key);

}
.rooms{

  display: flex;
  justify-content: center;

}

.rooms__wrapper{

  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  max-width: 930px;

}

.rooms__kind{

  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  margin-bottom: 5rem;
  max-width: 430px;
  min-width: 300px;
  height: 286px;
  border-top: 15px solid $brand-accent;
  background-size: cover!important;

  &:hover{

    cursor: pointer;

  }

}
.rooms__kind-caption{

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: rgba($brand-secondary, 0.8);
  padding: 1rem 2rem;

}
.rooms__kind-caption-price{

  color: darken($brand-primary, 20);
  font-size: 1.2rem;
  font-weight: 900;
  margin-right: 20px;
}
@media (min-width: 1200px) {
  .rooms__kind-caption-price {
    font-size: 2rem;
  }
}
@media (min-width: 992px) {
  .rooms__kind-caption-price {
    font-size: 2rem;
  }
}
@media (min-width: 768px) {
  .rooms__kind-caption-price {
    font-size: 2rem;
  }
}
.rooms__kind-caption-action{

  font-size: 0.8rem;

  &:hover{

    cursor: pointer;

  }

}

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .rooms {
    display: block;
    margin: auto;
  }
  .rooms__wrapper{
    min-width: 930px;
    margin: auto;
  }
}